<% layout('layouts/boilerplate') %>

<div class="container" id="postings">
    <ul class="list-group list-group-numbered" style="list-style: none;">
        <%for(let i=0; i<data.rows.length; i++){%>
            
             <li class="list-group-item d-flex justify-content-between align-items-start">
                 <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        <a id="each_post" href="/post/<%=data.rows[i].id%>"><%=data.rows[i].title%></a>
                    </div>
                 </div>
                 <%=data.rows[i].user_name%>
            </li>
            
        <%}%>
    </ul>
</div>

<%var x = data.numb[0].count%>
<%var page = 1;%>

<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <% for(let i=0; i<x; i+= 5){%>
                <li class="page-item"><a class="page-link" href="/posts/<%=page%>"><%=page%></a></li>
                <%page++%>
            <%}%>
        </ul>
      </nav>
</div>

